header
    span
        img(src="#", alt="logo")
    nav
        li
            a(href="http://#") Nav link
        li
            a(href="http://#") Nav link
        li
            a(href="http://#") Nav link
    